# macOS filesystem metadata
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Editors / IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# Dependencies & Build Output
node_modules/
dist/
.astro/

# Python / Flask / Testing
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.freebuff/
